/*THIS IS THE GLOBAL SASS FILE FOR THE SNS WEBSITE
  IT CONTAINS ALL THE SCSS FOR THE CSS CLASSES AND OTHER STYLING INFO*/

/*This imports the mixins, placeholders, and variables from the helper folder*/
@import "helper/mixins";
@import "helper/placeholders";
@import "helper/variables";

/*This imports all outside Google fonts*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/*Global classes*/
html, body {
  font-family: $body-font;
  background: $background-color;
  margin: 0px;
  width: 100%;
  overflow-x: hidden;
  text-align: left;
}

a {
  color: $sns-orange;
  text-decoration: none;
  @include transition-duration(0.5s);

  &:hover {
    opacity: 0.5;
    @include transition-duration(0.5s);
  }
}

/*Top navigation bar*/

.topbar {
  background: $sns-orange;
  padding: 10px;
  width: 100%;
  margin: auto;
  height: 75px;
  position: fixed;

    a {
      color: white;
      text-transform: uppercase;
      font-size: 20px;
    }

    img {
      height: 45px;
      float: left;
    }
}

/*Board tab*/

.content {
  background: $regular-gray;
  width: 260px;
  height: 0px;
  overflow: hidden;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
  opacity: 0;
  color: $body-color;
  font-family: $body-font;
  text-align: left;
  font-style: normal;
  font-size: 11px;
  margin-left: -5px;
  @include transition-duration(0.5s);
}
  
.tab {
  width: 100px;
  height: 20px;
  padding: 10px 10px 5px 5px;
  position: fixed;
  left: 0px;
  top: 15%;
  background: $sns-orange;
  color: white;
  text-align: right;
  font-size: 13px;
  font-style: italic;
  font-family: serif;
  @include transition-duration(0.5s);

  &:hover {
    width: 265px;
    @include transition-duration(0.5s);

    .content {
      height: 140px;
      opacity: 1;
      @include transition-delay(0.5s);
      @include transition-duration(0.5s);
    }
  }
}

/*Informational footer*/

.footer {
  width: 100%;
  background: $regular-gray;
  border-top: 2px solid $sns-orange;
  padding: 5px;
  font-size: 11px;
  color: #777;
  text-align: center;

  h1 {
    font-size: 15px;
  }
}
