/*THIS IS THE GLOBAL SASS FILE FOR THE SNS WEBSITE
  IT CONTAINS ALL THE SCSS FOR THE CSS CLASSES AND OTHER STYLING INFO*/
/*This imports the mixins, placeholders, and variables from the helper folder*/
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);
.homebox, .alumnibox {
  background: rgba(255, 255, 255, 0.6);
  z-index: 999;
  position: absolute;
  padding: 10px; }

/*COLORS*/
/*FONTS*/
/*This imports all outside Google fonts*/
/*Global classes*/
html, body {
  font-family: "Lora", serif;
  background: white;
  margin: 0px;
  width: 100%;
  line-height: 150%;
  font-size: 16px;
  overflow-x: hidden;
  text-align: left;
  position: relative; }

body {
  padding-bottom: 50px; }

a {
  color: #d37130;
  text-decoration: none;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s; }
  a:hover {
    opacity: 0.5;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s; }

h1 {
  font-size: 25px;
  text-align: center;
  font-style: italic;
  margin-bottom: 5px; }

h2 {
  font-size: 18px;
  font-style: italic;
  font-weight: normal; }

h3 {
  font-size: 16px;
  font-weight: normal; }

.container {
  width: 100%;
  padding-left: 110px;
  padding-top: 30px;
  margin-top: 95px;
  margin-bottom: 30px;
  background: transparent; }

/*Top navigation bar*/
.topbar {
  background: #d37130;
  padding: 10px;
  width: 100%;
  margin: auto;
  height: 75px;
  z-index: 9999;
  position: fixed;
  font-weight: normal; }
  .topbar a {
    color: white;
    font-size: 20px; }
    .topbar a.current {
      font-style: italic; }
  .topbar img {
    height: 65px;
    float: left; }

/*Announcements*/
.content {
  background: #dddddd;
  width: 260px;
  height: 0px;
  overflow: hidden;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
  opacity: 0;
  color: black;
  font-family: "Lora", serif;
  text-align: left;
  font-style: normal;
  z-index: 99;
  font-size: 11px;
  margin-left: -5px;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s; }

.tab {
  width: 100px;
  height: 20px;
  padding: 10px 10px 5px 5px;
  position: fixed;
  left: 0px;
  z-index: 99;
  top: 15%;
  background: #d37130;
  color: white;
  text-align: right;
  font-size: 13px;
  font-style: italic;
  line-height: 100%;
  font-family: serif;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s; }
  .tab:hover {
    width: 265px;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s; }
    .tab:hover .content {
      height: 140px;
      opacity: 1;
      transition-delay: 0.5s;
      -webkit-transition-delay: 0.5s;
      -moz-transition-delay: 0.5s;
      -o-transition-delay: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s; }

/*Carousel Styling*/
.slideshow {
  margin-top: 75px;
  overflow: hidden; }
  .slideshow img {
    width: 100%; }

/*Informational footer*/
.footer {
  width: 100%;
  background: #dddddd;
  padding: 30px;
  height: 50px;
  color: #777;
  text-align: right;
  position: absolute;
  bottom: 0;
  height: 10px;
  padding-top: 20px; }

/*Clear white boxes*/
.homebox {
  top: 15%;
  right: 100px;
  width: 280px;
  height: 110px; }
  .homebox .text {
    font-size: 20px;
    text-align: center;
    font-style: italic;
    color: black; }

.alumnibox {
  width: auto;
  height: auto;
  top: 500px;
  left: 45%; }

/*All the little orange buttons*/
.button {
  width: 100px;
  height: 30px;
  padding: 10px;
  background: #d37130;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s; }
  .button:hover {
    background: #dddddd;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s; }
    .button:hover .text {
      color: black; }
  .button .text {
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 2px;
    font-style: italic; }

/************
MOBILE COMPATIBLE CSS
************/
@media only screen and (max-device-width: 800px) {
  .content,
  .tab {
    display: none; } }

/*# sourceMappingURL=main.css.map */
