/*THIS IS THE GLOBAL SASS FILE FOR THE SNS WEBSITE
  IT CONTAINS ALL THE SCSS FOR THE CSS CLASSES AND OTHER STYLING INFO*/

/*This imports the mixins, placeholders, and variables from the helper folder*/
@import "helper/mixins";
@import "helper/placeholders";
@import "helper/variables";

/*This imports all outside Google fonts*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/*Global classes*/
body {
  font-family: $body-font;
  color: $body-color;
  font-size: 12px;
  background: $background-color;
  margin: auto;
  text-align: left;
}

a {
  color: $sns-orange;
  text-decoration: none;
  @include transition-duration(0.5s);

  &:hover {
    opacity: 0.5;
    @include transition-duration(0.5s);
  }
}

/*Top navigation bar*/

.topbar {
  background: $sns-orange;
  padding: 10px;
  width: 100%;
  margin: auto;
  height: 75px;

    a {
      color: white;
      text-transform: uppercase;
      font-size: 20px;
    }
}
