/*THIS IS THE GLOBAL SASS FILE FOR THE SNS WEBSITE
  IT CONTAINS ALL THE SCSS FOR THE CSS CLASSES AND OTHER STYLING INFO*/

/*This imports the mixins, placeholders, and variables from the helper folder*/
@import "helper/mixins";
@import "helper/placeholders";
@import "helper/variables";

/*This imports all outside Google fonts*/
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);

/*Global classes*/
html, body {
  font-family: $body-font;
  background: $background-color;
  margin: 0px;
  width: 100%;
  font-size: 14px;
  overflow-x: hidden;
  text-align: left;
}

a {
  color: $sns-orange;
  text-decoration: none;
  @include transition-duration(0.5s);

  &:hover {
    opacity: 0.5;
    @include transition-duration(0.5s);
  }
}

h1 {
  font-size: 25px;
  text-align: center;
  font-style: italic;
  margin-bottom: 5px;
}

h2 {
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
}

h3 {
  font-size: 16px;
  font-weight: normal;
}

.container {
  width: 100%;
  padding-left: 50px;
  padding-top: 10px;
  margin-top: 95px;
  margin-bottom: 30px;
  background: transparent;
}

/*Top navigation bar*/

.topbar {
  background: $sns-orange;
  padding: 10px;
  width: 100%;
  margin: auto;
  height: 75px;
  z-index: 9999;
  position: fixed;
  font-weight: normal;

    a {
      color: white;
      font-size: 20px;

      &.current {
        font-style: italic;
      }
    }

    img {
      height: 65px;
      float: left;
    }
}

/*Announcements*/

.content {
  background: $regular-gray;
  width: 260px;
  height: 0px;
  overflow: hidden;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
  opacity: 0;
  color: $body-color;
  font-family: $body-font;
  text-align: left;
  font-style: normal;
  z-index: 99;
  font-size: 11px;
  margin-left: -5px;
  @include transition-duration(0.5s);
}
  
.tab {
  width: 100px;
  height: 20px;
  padding: 10px 10px 5px 5px;
  position: fixed;
  left: 0px;
  z-index: 99;
  top: 15%;
  background: $sns-orange;
  color: white;
  text-align: right;
  font-size: 13px;
  font-style: italic;
  font-family: serif;
  @include transition-duration(0.5s);

  &:hover {
    width: 265px;
    @include transition-duration(0.5s);

    .content {
      height: 140px;
      opacity: 1;
      @include transition-delay(0.5s);
      @include transition-duration(0.5s);
    }
  }
}

/*Carousel Styling*/

.slideshow {
  margin-top: 75px;
  overflow: hidden;

  img {
    width: 100%
  }
}

/*Informational footer*/

.footer {
  width: 100%;
  background: $regular-gray;
  padding: 30px;
  color: #777;
  text-align: right;
}

/*Breaking legs*/

.homebox {
  width: 280px;
  height: 130px;
  background: rgba(255, 255, 255, 0.6);
  z-index: 999;
  position: absolute;
  top: 15%;
  right: 100px;
  padding: 10px;

  .text {
    font-size: 20px;
    text-align: center;
    font-style: italic;
    color: black;
  }
}
