{% extends "base.html" %}
{% block content %}

  <div class="container" style="width: 50%;">

    <h1 style="text-align: left">
      About Us
    </h1>
    <h2>
      Scotch'n'Soda is Carnegie Mellon University's premiere student theatre organization.  We are composed of passionate students from all majors and walks of life.
    </h2>
    The Scotch'n'Soda umbrella encompasses five "main stage" shows, improv performances with The No Parking Players, and two Tisbert sketch comedy shows each year.  Everything is entirely student run, meaning that all directors, actors, tech heads, stage managers, and more, are roles taken on by students.  This provides an incredible opportunity for the students to really own each production.
    <h2>
      "A social group with a theater problem."
    </h2>
    You might hear Scotch'n'Soda members refeerring to S'n'S as "a social group with a theater problem."  Scotch'n'Soda is as much about building friendships as it is about the performances, and we're always welcoming new members.
    <h2>
      A Rich History
    </h2>
    Scotch'n'Soda Theatre has been around since 1907, making it one of the oldest college student theatre organizations.  It was originally called the "White Friars Club."  CMU's student theatre then took a hiatus, after which The Bacchanalians were founded in 1932.  In 1937, they changed their name to Scotch'n'Soda.  <i>Pippin, Pippin,</i> now the famous, award-winning muiscal <i>Pippin,</i> was written by Scotch'n'Soda member and Tony award winner Stephen Schwartz, and was performed at Spring Carnival in 1967.
    <h2>
      The Board of Directors
    </h2>
    Scotch'n'Soda is completely run by students, including its Board of Directors.
    <h3>
      President - Ryan LaPré<br>
      Artistic Director - Maggie Davis<br>
      Vice President - Grace Lazos<br>
      Managing Director - Keaton Shapiro<br>
      Secretary - Alexandra Halberstadt<br>
      Public Relationship Coordinator - Caroline Hermans<br>
      Technical Coordinator - Michael Wagner<br>
      General Membership Coordinator - Heather Graci<br>
      Executive Board Member - Emily Broude<br>
    </h3>
    <h2>
      The Auxillary Board
    </h2>
    <h3>
      Director of Development - Adam Lerner<br>
      Webmaster - Ren Davison<br>
      Director of Technical Training - Shinjini Ray<br>
      Director of Artistic Training - Dani Joseph<br>
      Historian - Thomas Nakrosis<br>
      Workshopping - Russell Holbert and Fatima Ahmad
    </h3>
  </div>

{% endblock %}
