{% extends "base.html" %}
{% block content %}

<!--That white box that shows how much we love our alumni-->

  <div class="alumnibox">
    <h1 style="margin-top: 2px;">
      We Love Alumni!
    </h1>
  </div>

  <img style="width: 100%; margin-top: 75px;" src="{{ url_for('static', filename='images/alumni1.jpg')  }}">

  <div style="padding: 15px 0px 25px 50px; width: 50%;">

    <h1 style="text-align: left;">
      Endowment
    </h1>

    The Scotch’n’Soda Endowment Fund is a fund that was set up by Jared L. Cohon, and was completed by Rob Siemborski. Every quarter interest from the fund, based on the interest/income rate set by the University, is deposited into our account. This fund is used exclusively for large, show-specific purchases.

    <h1 style="text-align: left">
      Donating
    </h1>

    Donating can be made many different ways:

    <ul>
      <li>Via check made out to Scotch’n’Soda Theatre or check made out to Carnegie Mellon University Student Activities with a designation to Scotch’n’Soda.
      <p />Please send to:
      <br>Carnegie Mellon University
      <br>P.O. Box 371525
      <br>Pittsburgh, PA 15251-7525</li>

      <li>Online <a href="http://www.giving.cmu.edu/s/1410/giving/16/landing.aspx?sid=1410&gid=1&pgid=7010">here</a> - follow on-screen instructions</li>

      <li>Over the phone at 412-268-2021</li>

      <li>Or, via wire transfer.  More information on that <a href="http://www.giving.cmu.edu/s/1410/giving/index.aspx?sid=1410&gid=1&pgid=338">here.</a></li>
    </ul>

    You can also donate directly to SnS when contacted by a student caller. When they ask for a donation, just tell them that you’d like to send the money to Scotch’n’Soda Theatre and they’ll make it happen.
    <p />
    Thanks so much for your donation!

  </div>

{% endblock %}
