<!-- The base html file for the SnS website.

  This will allow us to use template inheritance in python flask 
  to keep the website pages in sync.

-->

<html>
  <head>

    <!--This controls the webpage title-->

    {% if title %} 
      <title>SnS - {{ title }}</title>
    {% else %} 
      <title>Scotch'n'Soda Theatre</title>
    {% endif %} 

    <!--This imports the CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sass/main.css')  }}">

    <!--This makes the favicon work-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  </head>

  <body>

    <!--Navigation Bar-->

    <table class="topbar"><tr>

      <td>
        <img src="http://i64.tinypic.com/29gd3bq.png" />
      </td>

      <td align="right">
        <a style="margin-right: 10px;" href="/">home</a>
        <a style="margin-right: 10px;" href="/about">about us</a>
        <a style="margin-right: 10px;" href="/tickets">tickets</a>
        <a style="margin-right: 10px;" href="/join">get involved</a>
        <a style="margin-right: 10px;" href="/subtroupes">subtroupes</a>
        <a style="margin-right: 10px;" href="/alumni">alumni</a>
      </td>

   </tr></table>

   <!--Board tab-->

   <div class="tab">our board
     <div class="content">
       Ryan LaPré (President)<br>
       Grace Lazos (Vice President)<br>
       Maggie Davis (Artistic Director)<br>
       Keaton Shapiro (Managing Director)<br>
       Alexandra Halberstadt (Secretary)<br>
       Caroline Hermans (Public Relations Coordinator)<br>
       Michael Wagner (Techincal Coordinator)<br>
       Heather Graci (General Membership Coodrinator)<br>
       Emily Broude (Executive Board Member)
     </div>
   </div>

    {% block content %} {% endblock %}

    <table class="footer"><tr>

        <td align="left" style="padding-left: 400px;">
        <h1>
          Board of Directors
        </h1>
        <div style="margin-top: -5px;">
          Ryan LaPré (President)<br>
          Grace Lazos (Vice President)<br>
          Maggie Davis (Artistic Director)<br>
          Keaton Shapiro (Managing Director)<br>
          Alexandra Halberstadt (Secretary)<br>
          Caroline Hermans (Public Relations Coordinator)<br>
          Michael Wagner (Technical Coordinator)<br>
          Heather Graci (General Membership Coordinator)<br>
          Emily Broude (Executive Board Member)
        </div>
      </td>

      <td style="float: right; padding-right: 400px;">
        <h1>
          Contact Us
        </h1>
        <div style="positon: relative; top: -5px;">
          <a href="mailto:board@snstheatre.org">board@snstheatre.org</a><p />
          <b>Scotch'n'Soda Theatre</b><br>
          5000 Forbes Avenue<br>
          UC Suite 103, Box #57<br>
          Pittsburgh, PA 15213
        </div>
      </td>
  
    </tr></table>

  </body>
</html>
