<!-- The base html file for the SnS website.

  This will allow us to use template inheritance in python flask 
  to keep the website pages in sync.

-->

<html>
  <head>

    <!--This controls the webpage title-->

    {% if title %} 
      <title>SnS - {{ title }}</title>
    {% else %} 
      <title>Scotch'n'Soda Theatre</title>
    {% endif %} 

    <!--This imports the main CSS and the slideshow CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sass/main.css')  }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick-theme.css') }}"/>

    <!--This makes the favicon work-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  </head>

  <body>

    <!--Navigation Bar-->

    <table class="topbar"><tr>

      <td>
        <a href="/">
          <img src="{{ url_for('static', filename='images/sns_logo.png')  }}" />
        </a>
      </td>

      <td align="right">
        <a style="margin-right: 10px;" href="/">home</a>
        <a style="margin-right: 10px;" href="/about">about us</a>
        <a style="margin-right: 10px;" href="/tickets">tickets</a>
        <a style="margin-right: 10px;" href="/join">get involved</a>
        <a style="margin-right: 10px;" href="/subtroupes">subtroupes</a>
        <a style="margin-right: 10px;" href="/alumni">alumni</a>
      </td>

    </tr></table>

    {% block content %} {% endblock %}

    <div class="footer">
      <a href="http://www.facebook.com/snstheatre" style="margin-right: 20px;">
        facebook.com/snstheatre
      </a>              
      <a href="mailto:board@snstheatre.org" style="padding-right: 80px;">
        board@snstheatre.org
      </a>
    </div>  

  </body>
</html>
