<!-- The base html file for the SnS website.

  This will allow us to use template inheritance in python flask
  to keep the website pages in sync.

-->

<html>
  <head>

    <!--This controls the webpage title-->
    {% if title %}
      <title>SnS - {{ title }}</title>
    {% else %}
      <title>Scotch'n'Soda Theatre</title>
    {% endif %}

    <!--This imports the main CSS and the slideshow CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sass/main.css')  }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick-theme.css') }}"/>

    <!--This imports JQuery-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.0.0.min.js')  }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-migrate-1.21.js') }}"></script>

    <!--This changes the topbar links when they're selected-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/linkSelect.js')  }}"></script>

    <!--This makes the favicon work-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <!-- This provides a preview image for Facebook-->
    <meta property="og:image" content="/static/images/fb.png"/>
    <meta property="og:description" content="Scotch'n'Soda is Carnegie Mellon University's premiere student theatre organization. We are composed of passionate students from all majors and walks of life."/>

    <!--This helps with mobile compatibility-->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>

  <body>

    <!--Navigation Bar-->

    <table class="topbar"><tr>

      <td>
        <a href="/">
          <img src="{{ url_for('static', filename='images/sns_logo.png')  }}" />
        </a>
      </td>

      <td align="right">
        <a style="margin-right: 20px;" href="/about.html">About</a>
        <a style="margin-right: 20px;" href="/join.html">Join</a>
        <a style="margin-right: 20px;" href="/subtroupes.html">Subtroupes</a>
        <a style="margin-right: 20px;" href="/tickets.html">Tickets</a>
        <a style="margin-right: 20px;" href="/alumni.html">Alumni</a>
      </td>

    </tr></table>

    <!---Navigation Bar (mobile only)-->
    @media screen and (min-width: 320px) and (max-width: 667px) {
      <div class="mobilenav">
        Navigation 
      </div>
    }

    <!--Individual page content-->

    <div class="cheat">
      {% block content %} {% endblock %}
    </div>

      <!--Footer-->

      <div class="footer">
        <a href="http://www.facebook.com/snstheatre" style="margin-right: 20px;">
          facebook.com/snstheatre
        </a>
        <a href="mailto:board@snstheatre.org" style="padding-right: 80px;">
          board@snstheatre.org
        </a>
      </div>

  </body>
</html>
