{% extends "base.html" %}
{% block content %}
  
  <div class="tab">announcements
    <div class="content">
      Attend our General Body Meeting for the coming semester, date and time TBD!
    </div>
  </div>

  <div class="homebox" align="right">
    <h1>
      Scotch'n'Soda Theatre
    </h1>
    <div class="text">
      Breaking legs at Carnegie Mellon University since 1938!
    </div>
  </div>

<!--Carousel | Made by Slick-->

  <div class="slideshow" align="center">
    <div><img src="{{ url_for('static', filename='images/homepage1.jpg') }}"></div>
    <div><img src="{{ url_for('static', filename='images/homepage2.jpg') }}"></div>
    <div><img src="{{ url_for('static', filename='images/homepage3.jpg') }}"></div>
    <div><img src="{{ url_for('static', filename='images/homepage4.jpg') }}"></div>
    <div><img src="{{ url_for('static', filename='images/homepage5.jpg') }}"></div>
  </div>

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.0.0.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-migrate-1.21.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='slick/slick.min.js') }}"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.slideshow').slick({
        infinite: true,
        autoplay: true,
        arrows: false,
        speed: 500,
        fade: true,
        cssEase: 'linear'
      });
    });
  </script>

{% endblock %}
