{% extends "base.html" %}
{% block content %}

  <div class="container" style="width: 50%;">
  
    <h1 style="text-align: left">
      Get Involved
    </h1>

    <h2>
      We're always welcoming new members from all majors and backgrounds.  Even if you've never seen a musical, we'd love to have you.
    </h2>

    <h2 style="font-weight: bold; padding-bottom: 20px;">
      <a href="https://docs.google.com/spreadsheets/d/1_BLURhYCyRS_8bwl0RI1tJcR1J7hGx49gC0yd2t_mYE/edit">Tisbert Sketch Comedy is currently holding auditions!</a> 
    </h3>

    <h2 style="font-weight: bold;">
      Join the S'n'Excursions Facebook Group
    </h2>  
    <h3>
      Don't have a Facebook?  That's ok!  Email us at board @snstheatre.org and we'll let you know how to get involved.
    </h3>

    <a href="http://www.facebook.com/snstheatre">
      <div class="button">
        <div class="text">
          Join
        </div>
      </div>
    </a>

  </div>

{% endblock %}
